ProjectPath     = "/Users/home/" # Usually ok to leave empty. If empty gets current working dir at runtime.
FilterTargets   = ["CoreTests"]  # If a target name contains one of these substrings the target would be filtered. Empty string "" matches everything. Please note that if regex is used targets filtering has no effect.
FilterPaths     = ["Tests","UITests","Constants.swift"] # If a path contains one of these substrings the path (file, dir) would be filtered. Empty string "" matches everything. Please note that if regex is used path filtering has no effect.
FilterWarnPaths = ["Project/Target/File.swift"] # If a path contains one of these substrings warnings would be muted for the path (file, dir). Coverage for the paths would still be metered.
FilterPattern   = "[\\S\\s]*secret\\.json$" # Go flavored regex (non-PCRE!). Please check https://golang.org/pkg/regexp/ for more info. When used in config escape characters should be escaped twice for config parsing (unfortunately). Please note that if regex is used `FilterTargets` and `FilterPaths` has no effect.
InvertFilter         = false  # Set `false` to allow toggling every filter individually. Set `true` to force `true` to all filters. Default `false`.
InvertTargetFilter   = false  # Set `false` to disallow targets in filter. Set `true` to allow only targets in filter. Default `false`.
InvertPathFilter     = false  # Set `false` to disallow paths in filter. Set `true` to allow only paths in filter. Default `false`.
InvertRegexp         = false  # Set `false` to disallow paths matching `FilterPattern`. Set `true` to allow only paths matching `FilterPattern`. Default `false`.
InvertWarnpathFilter = false  # Set `false` to mute warnings for paths in filter. Set `true` to allow only warnings for paths in filter. Default `false`.
IncludeMasked        = false  # Skip recalculating coverage, just read from xccov report regardless masked (filtered) targets and paths. Default `false`.
ZeroWarnOnly         = false  # Don't error on 0% coverage, produce warning only.
MeterLOC             = false  # Set `false` for coverage percent and `true` for number of LOCs e.g. 42/13 (now/was). Default `false`.
Tolerance            = 5      # Percent. Default 0.